<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cuni.mff.nutritionalassistant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cz.cuni.mff.nutritionalassistant.SwapActivity"
            android:label="Swap Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="cz.cuni.mff.nutritionalassistant.activity.overview.RecipeOverviewActivity" />
        <activity android:name="cz.cuni.mff.nutritionalassistant.activity.overview.RestaurantfoodOverviewActivity" />
        <activity android:name="cz.cuni.mff.nutritionalassistant.activity.overview.ProductOverviewActivity" />
        <activity
            android:name="cz.cuni.mff.nutritionalassistant.util.FilterDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="cz.cuni.mff.nutritionalassistant.DatabaseActivity"
            android:label="Food Database"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="cz.cuni.mff.nutritionalassistant.GoalActivity" />
        <activity
            android:name="cz.cuni.mff.nutritionalassistant.CurrentLifestyleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="cz.cuni.mff.nutritionalassistant.UserParametersActivity" />
        <activity
            android:name="cz.cuni.mff.nutritionalassistant.NHSetActivity"
            android:label="Nutrition Settings"/>
        <activity
            android:name="cz.cuni.mff.nutritionalassistant.FoodAddingActivity"
            android:label="Food Adding Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cz.cuni.mff.nutritionalassistant.ManualNHActivity"
            android:label="Manual Nutrition Settings"/>
        <activity
            android:name="cz.cuni.mff.nutritionalassistant.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>